@charset "utf-8";

html {}

body {}

/* header */
header {
    padding: 10px;
    background: #186AC9;
}

img {
    size: 60px 70px;
}

p {
    color: black;
}

/* main content */
#head {
    display: flex;
}

#head {
    align-items: center;
    position: relative;
}


#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    height: 100%;
    flex: 0 0 80%;
    border-right: 1px solid #727272;
}



/* アコーディオンメニュー */
.accordion-container {
    display: flex;
    position: relative;
}


.nav-open {
    margin-left: 700px;
}


.menu-btn {
    display: flex;
    font-size: 1.25rem;
    padding: 10px;
    padding-left: 10px;
    width: 50px;
    background-color: transparent;
    color: #fff;
    position: relative;
}

.menu-btn::after {
    content: '>';
    position: absolute;
    width: 8px;
    height: 8px;
    right: 40px;
    top: 3%;
    transform: rotate(-90deg);
}


.menu-btn.open::after {
    transform: rotate(90deg);
}


.accordion-menu {
    position: absolute;
    top: 75px;
    width: 100%;
    height: auto;
    left: 80px;
    background-color: #fff;

}

.nav-open ul li {
    padding: 20px;
    border: 1px solid;
    white-space: nowrap;
    text-align: center;
    /* display: none; */
}




/* モーダルのスタイル */
.modal-main {
    display: flex;
}

.modal-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-color: #ffffff;
    color: #666666;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.inner-content {
    text-align: center;
    margin: 0;
    padding: 0;
    max-width: 1024px;
}

.modal-inner img {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.inner-title {
    margin-top: 40px;
    margin-bottom: 32px;
    font-size: 2.8rem;
    font-weight: bold;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal_bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal_content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60;
}

.modal_content p {
    text-align: center;
}
