@charset "utf-8";

html {}

body {}

/* header */
header {
    padding: 10px;
    background: #186AC9;
}

img {
    size: 60px 70px;
}

.btn {
    padding: 6px 12px;
    font-size: 6%;
}


p {
    color: black;
}


a {
    color: #fff;

}





/* main content */
#head {
    display: flex;
}

#head {
    align-items: center;
    position: relative;
}


#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    height: 100%;
    flex: 0 0 80%;
    border-right: 1px solid #727272;
}




/* アコーディオンメニュー */

.nav-open {
    display: flex;
    position: absolute;
    top: 65%;
    left: 70%;
    width: 200px;
}

.li-first {
    padding: 20px;
    border: 1px solid;
    white-space: nowrap;
    text-align: center;
    color: black;
    background: #fff;
}

.li-second {
    padding: 20px;
    border: 1px solid;
    white-space: nowrap;
    text-align: center;
    color: black;
    background: navy;
}


.accordion-container {
    display: flex;
    position: relative;
}

.menu-btn {
    display: flex;
    font-size: 1.25rem;
    padding: 10px;
    padding-left: 10px;
    width: 50px;
    background-color: transparent;
    color: #fff;
    position: relative;
}

.accordion-menu {
    display: none;
    position: absolute;
    top: 100%;
    /* ヘッダーの直下に表示 */
    width: 100%;
    height: auto;
    background-color: #fff;
}

.menu-btn::after {
    content: '>';
    position: absolute;
    width: 8px;
    height: 8px;
    right: 10px;
    /* アイコンの右側に配置 */
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
}

.menu-btn.open+.accordion-content {
    display: block;
}

.menu-btn.open::after {
    transform: rotate(90deg);
}


.accordion-content {
    display: none;
}

.header-p-white {
    font-weight: hold;
    color: #fff;
}

.header-p-gray {
    font-weight: hold;
    color: gray;
}


/* モーダルのスタイル */
.modal-main {
    display: flex;
}

.modal-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-color: #ffffff;
    color: #666666;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.modal-inner img {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal_bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal_content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.modal_content p {
    text-align: center;
}

.content {
    margin: 0 auto;
    padding: 40px;
}
